body{
    background-image: linear-gradient(to right, #b407b2, #0ce3a7);
    font-family: sans-serif;
}
.container{
    width: 80%;
    margin: 7rem auto;
}
.table_section{
    width: 100%;
    margin: 0 auto;
}
.header{}
.content_header {}
.text_header{}
.main{}
.main_row{}
.text_main{}